@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
body{
  background-color: #1DA1F2;

}

button {
  background-color:#508fb9;
  padding: 2%;
  border-width: 0;
  text-align: right;
}

button:hover {
  background-color:#346383;
  padding: 2%;
  border-width: 0;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
section:nth-child(1){
  color: #1DA1F2;
  }
section:nth-child(2){
  color: white;
  background: #1DA1F2;
} 
section:nth-child(3){
  color: darkgray;
  background: #1DA1F2;

}
section:nth-child(4){
  color: darkgray;
  background:#1DA1F2;
}
section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
  color: white;
}
section h2{
  font-size: 40px;
  text-align: center;
  color: white;

}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}


.reveal.tweet-feed
{
    text-align:left;
    position: relative;
    transform: translateX(1400px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  transform: translateX(0);
  opacity: 1;

}

.reveal.before-bar-graph
{
  position: relative;
  transform: translateX(-200px);
  opacity: 1;
  transition: 2s all ease;
  border-width: 0;
}

.reveal.before-bar-graph.active.top
{
  transform: translateY(0);
  transform: translateX(0);
  background: #508fb9;
  stroke-width: 0;
  border-width: 0;
  color: #508fb9;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  opacity: 1;
}

.reveal.before-bar-graph.active.mid-top
{
  transform: translateY(0);
  transform: translateX(0);
  background: #2b5672;
  stroke-width: 0;
  border-width: 0;
  color: #2b5672;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  opacity: 1;
}

.reveal.before-bar-graph.active.mid-bot
{
  transform: translateY(0);
  transform: translateX(0);
  background: #1c3e54;
  stroke-width: 0;
  border-width: 0;
  color: #1c3e54;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  opacity: 1;
}

.reveal.before-bar-graph.active.bot
{
  transform: translateY(0);
  transform: translateX(0);
  background: #0b2232;
  stroke-width: 0;
  border-width: 0;
  color: #0b2232;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  opacity: 1;
}


.reveal.tweet-feed.active{
    transform: translateY(0);
    transform: translateX(0);
  }

 

  .counter {
    transition: --num 4s;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    --num: 0;

  }
  .counter::after {
    content: counter(num);
  }
 
  
 
  
  
img {
    max-width:100%;
  }
  .avator {
    border-radius:100px;
    width:48px;
    margin-right: 15px;
  }
  
  
  .tweet-wrap {
    max-width:400px;
    background: #fff;
    margin: 20px;
    margin-top: 10px;
    border-radius:20px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
    transform: translateY(0);
    display: inline-block;
  }

  .tweet-wrap.intro-stage-1 {
    transform: translateX(1400px);
    opacity: 1;
    transition: 2s all ease;

  }
  
  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
  }
  .tweet-header-info {
    font-weight:bold;
  }
  .tweet-header-info span {
    font-weight:normal;
    margin-left: 5px;
  }
  .tweet-header-info p {
    font-weight:normal;
    margin-top: 5px;
    
  }
  .tweet-img-wrap {
    padding-left: 60px;
  }
  
  .tweet-info-counts {
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  }
  .tweet-info-counts div {
    display: flex;
    margin-right: 20px;
  }
  .tweet-info-counts div svg {
    margin-right: 10px;
  }
 


.heart {
  width: 100px;
  height: 100px;
  position: relative;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

  .heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }



.stage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.twit-log {
    width: 20%;
    height: 20%;
    margin: 10%;
}

.white {
    background-color: white;
}

.blue {
    color:#1DA1F2;
}

.pink {
    color:rgb(252, 134, 234)
}



.circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }

  .floating-button {
   
    animation: float 5s infinite;
  }
  
  .floating-button a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .hearts-container {
    
    width: 500px;
    height: 500px;
    z-index: 99999;
    pointer-events: none;
  }
  
  .heart2 {
    width: 10%;
    height: 10%;
    position: absolute;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/WikiFont_uniE033_-_heart_-_red.svg/1200px-WikiFont_uniE033_-_heart_-_red.svg.png) no-repeat;
    background-size: contain;
    animation: fill-hearts 4s ease-in-out infinite;
  }

  .relative {
    position: relative;
  }
  
  @keyframes fill-hearts {
    0% {
      transform: scale(1) translate(0%, 50%);
      opacity: 0;
    }
    50% {
      transform: scale(1.2) translate(10%, 25%);
      opacity: 0.8;
    }
    100% {
      transform: scale(1) translate(0%, 0%);
      opacity: 0;
    }
  }